@charset "UTF-8"; 
/*mobile*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Ultra&display=swap');

:root {
    --cor-1: #000000; 
    --cor-2: #333333;
    --cor-3: #575757;
    --cor-4: #808080;
    --cor-5: #A8A8A8; 
    --fonte-principal: Arial, Helvetica, sans-serif;
    --fonte-titulos: 'Ultra'; 
}




* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, var(--cor-2), var(--cor-3));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    font-family: var(--fonte-principal);
    color: white;
    
}

h1 {
    font-family: var(--fonte-titulos);
    margin: 10px;
    text-align: center;
    color: var(--cor-5);
}

section#questoes {
    background-color: var(--cor-4);
    padding: 20px 10px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    box-shadow: 3px 3px 3px black;
}

section form {
    border: 1px solid black;
    padding: 5px;
}

section form p {
    color: black;
}

section form p.p-black{
    background-image: linear-gradient(to right, var(--cor-1), var(--cor-2));
    margin: 5px 0px;
    color: white;
}


section div#nome-jogadores p label  {
    color: var(--cor-1);
}

section div#nome-jogadores p input[type='text'] {
   background-image: linear-gradient(to right, var(--cor-1), var(--cor-2));
   color: white;

   width: 100%;
   height: 25px;
}

section div#nome-jogadores p input[type='text']:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

section div #player3, section div #player4 {
    display: none;
} 

section div#nome-jogadores input[type='submit'] {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;
    height: 50px;

    color: white;
    background-color: var(--cor-1);
    
}

section div#nome-jogadores input[type='submit']:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}